## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Rikitea,77.25,light rain,-23.1203,-134.9692,Pension Maro'i
1,10,Pangkalanbuun,86.59,light rain,-2.6833,111.6167,Grand Kecubung Hotel
2,14,Atuona,80.24,broken clouds,-9.8000,-139.0333,Villa Enata
3,15,Vaini,78.80,light rain,-21.2000,-175.2000,Keleti Beach Resort
4,16,Lorengau,83.80,broken clouds,-2.0226,147.2712,Lorengau Harbourside Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Current Weather</dt><dd>{Current Description}
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.


vacation_start = vacation_df.loc[vacation_df["City"] == "Bengkulu"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Bengkulu"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Padang"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Sibolga"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Meulaboh"] 

vacation_start

,City_ID,City,Max Temp,Current Description,Lat,Lng,Hotel Name
83,387,Bengkulu,83.55,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu

In [24]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0])
end = (vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0])
stop1 = (vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0])
stop2 =(vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0])
stop3 = (vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0])

In [30]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Max Temp,Current Description,Lat,Lng,Hotel Name
0,387,Bengkulu,83.55,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu
1,606,Padang,86.00,scattered clouds,-0.9492,100.3543,Mercure Padang
2,296,Sibolga,85.82,overcast clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
3,271,Meulaboh,86.32,overcast clouds,4.1363,96.1285,Kost Pria
4,387,Bengkulu,83.55,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu

In [37]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dt>
<dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [56]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(0.0, 102.0), zoom_level=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))